/* Project: Time data in documents */
/* Subject: Internet Applications */
/* Author: Nikola Valesova, xvales02 */

/* page content */
body {
    font-size: 16px;
    width: 70%;
    margin: auto;
}

/* document header */
h1 {
    text-align: center;
}
