/* Project: Time data in documents */
/* Subject: Internet Applications */
/* Author: Nikola Valesova, xvales02 */

body {
    font-size: 16px;
}

/* document header */
h1 {
    text-align: center;
}

/* "Timelime" header  */
h3 {
    text-align: center;
}

/* canvas element containing timeline and its description */
canvas {
    /* border: 1px solid #d3d3d3; */
    /* color: #0000FF; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    /* font-size: 17px;
    font-family: 'Times New Roman';
    /* -webkit-transition: all 1s; */

}
